*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-color: #efefef;
  font-family: 'Fredoka', sans-serif;

}
.Heading{
    text-align: center;
    font-size: 5em;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    margin:0.5rem;
    justify-content: center;
    color:rgb(44,135,255);
}
.tac{
  color:rgb(255,70,37);
}